---
import background from "../assets/background.svg";
import CountVisualizer from "./CountVisualizer";
import LandingView from "./LandingView.vue";
import ReactButton from "./ReactButton";
import VueButton from "./VueButton.vue";
---

<LandingView  >
	<img
		class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]"
		src={background.src}
    alt="background"
		fetchpriority="high"
	/>
	<CountVisualizer client:only="react" />
	<section class="flex gap-4 mt-6">
		<VueButton client:only="vue" />
		<ReactButton client:only="react" />
	</section>
</LandingView>
